<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comunio App</title>
</head>
<style>
    h1{
        color: 'blue'
    }
</style>
<body>

    <h1 style="color:blue" align="center">WELCOME TO COMUNIO APP PREDICTOR</h1>
    <div align="center" style="margin: 15px">
       <h2 style="margin : 20 px"> EQUIPOS DE LA LIGA SANTANDER </h2>
    <table>
        <tbody>
            <tr>
                <td>
                    <div align="center" style="margin: 15px">
                        <a href="{% url 'alaves' %}">
                            <img src="../img/alaves.png" alt="Alavés" width="400" height="400" >
                        </a>
                    </div>
                </td>
                <td>
                    <div align="center" style="margin: 15px">
                        <a href="{% url 'athletic' %}">
                            <img src="../img/athletic.png" alt="Athletic de Bilbao" width="400" height="400" >
                        </a>
                    </div>
                </td>
                <td>
                    <div align="center" style="margin: 15px">
                        <a href="{% url 'atletico' %}">
                            <img src="../img/atletico.png" alt="Atletico de Madrid" width="400" height="400" >
                        </a>
                    </div>
                </td>
                <td>
                    <div align="center" style="margin: 15px">
                        <a href="{% url 'barcelona' %}">
                            <img src="../img/barcelona.png" alt="Barcelona" width="400" height="400" >
                        </a>
                    </div>
                </td>
                <td>
                    <div align="center" style="margin: 15px">
                        <a href="{% url 'betis' %}">
                            <img src="../img/betis.png" alt="Betis" width="400" height="400" >
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div align="center" style="margin: 15px">
                        <a href="{% url 'celta' %}">
                            <img src="../img/celta.png" alt="Celta de Vigo" width="400" height="400" >
                        </a>
                    </div>
                </td>
                <td>
                    <div align="center" style="margin: 15px">
                        <a href="{% url 'espanyol' %}">
                            <img src="../img/espanyol.png" alt="Espanyol" width="400" height="400" >
                        </a>
                    </div>
                </td>
                <td>
                    <div align="center" style="margin: 15px">
                        <a href="{% url 'getafe' %}">
                            <img src="../img/getafe.png" alt="Getafe" width="400" height="400" >
                        </a>
                    </div>
                </td>
                <td>
                    <div align="center" style="margin: 15px">
                        <a href="{% url 'granada' %}">
                            <img src="../img/barcelona.png" alt="Granada" width="400" height="400" >
                        </a>
                    </div>
                </td>
                <td>
                    <div align="center" style="margin: 15px">
                        <a href="{% url 'realmadrid' %}">
                            <img src="../img/real_madrid.png" alt="Real Madrid" width="400" height="400" >
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div align="center" style="margin: 15px">
                        <a href="{% url 'rayo' %}">
                            <img src="../img/rayo.png" alt="Rayo Vallecano" width="400" height="400" >
                        </a>
                    </div>
                </td>
                <td>
                    <div align="center" style="margin: 15px">
                        <a href="{% url 'sevilla' %}">
                            <img src="../img/sevilla.png" alt="Sevilla" width="400" height="400" >
                        </a>
                    </div>
                </td>
                <td>
                    <div align="center" style="margin: 15px">
                        <a href="{% url 'levante' %}">
                            <img src="../img/levante.png" alt="Levante" width="400" height="400" >
                        </a>
                    </div>
                </td>
                <td>
                    <div align="center" style="margin: 15px">
                        <a href="{% url 'mallorca' %}">
                            <img src="../img/mallorca.png" alt="Mallorca" width="400" height="400" >
                        </a>
                    </div>
                </td>
                <td>
                    <div align="center" style="margin: 15px">
                        <a href="{% url 'realsociedad' %}">
                            <img src="../img/real_sociedad.png" alt="Real Sociedad" width="400" height="400" >
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div align="center" style="margin: 15px">
                        <a href="{% url 'villarreal' %}">
                            <img src="../img/villarreal.png" alt="Villarreal" width="400" height="400" >
                        </a>
                    </div>
                </td>
                <td>
                    <div align="center" style="margin: 15px">
                        <a href="{% url 'valencia' %}">
                            <img src="../img/valencia.png" alt="Valencia" width="400" height="400" >
                        </a>
                    </div>
                </td>
                <td>
                    <div align="center" style="margin: 15px">
                        <a href="{% url 'cadiz' %}">
                            <img src="../img/cadiz.png" alt="Cadiz" width="400" height="400" >
                        </a>
                    </div>
                </td>
                <td>
                    <div align="center" style="margin: 15px">
                        <a href="{% url 'elche' %}">
                            <img src="../img/elche.png" alt="Elche" width="400" height="400" >
                        </a>
                    </div>
                </td>
                <td>
                    <div align="center" style="margin: 15px">
                        <a href="{% url 'osasuna' %}">
                            <img src="../img/osasuna.png" alt="Osasuna" width="400" height="400" >
                        </a>
                    </div>
                </td>
            </tr>
    </table>
    <div align="center" style="margin: 15px">
        <a href="{% url 'players' %}">
            <input type="button" value="Ver Todos" >
        </a>
    </div>

    <div align="center" style="margin: 15px">
        <a href="http://127.0.0.1:8000/api/players/">
            <input type="button" value="API" >
        </a>
    </div>

    <div align="center" style="margin: 15px">
        <a href="http://127.0.0.1:8000/docs/">
            <input type="button" value="API doc" >
        </a>
    </div>

    <div align="center" style="margin: 15px">
        <a href="http://127.0.0.1:8000/logout">
            <input type="button" value="Log out" >
        </a>
    </div>

</body>
</html>